<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de Url</title>
</head>
<body>
    <h1>Seu encurtador de url</h1>
    <form action="/encurtando" method="post">
    <label for="url_original">Insira a URL:</label><br>
    <input type="text" id="url_original" name="url_original" /><br>
    <input type="submit" value="Encurtar" />
  </form>

</body>
</html>