<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="/css/application.min.css">
</head>
<body class="min-h-screen flex items-center justify-center bg-gray-50">
    <div class="container max-w-md mx-auto p-8 bg-white rounded-lg shadow-lg">
        <%= yield %>
    </div>
</body>
</html>
